html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
}
body {
    text-align: center;
    display: flex;
}
main {
    display: inline-block;
    width: 100%;
}
a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-family: "Pixeboy", monospace;
    font-size: 2rem;
    border-radius: 0.5em;
    text-decoration: none;
    color: white;
    padding: 0.5em;
    margin: 0 0.5em 0.5em 0.5em;
}
@media (min-width: 768px) {
    main {
        width: 80%;
    }
}
a > img {
    height: 2rem;
    margin-right: 0.5rem;
}

#unauthenticated {
    background-color: var(--red);
}
#authenticated {
    background-color: var(--green);
}

#container {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

h1 {
    margin-top: 1.5rem;
}